:root {
    --duration-time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
    .container {
max-width: 428px;
    }

}
@media screen and (max-width: 479px) {
    .container {
min-width: 320px;}
.slogan {
        max-width: 320px;
    }
.mobile-contact-list {
    font-size: 24px;
    font-weight: 700;
}
.customers-item {
padding: 0;
}
.customers-link {
    padding: 0;
}
    }

@media screen and (max-width: 767px) {
    .container {
        min-width: 320px;
    }

    .contact {
        display: none;
    }

    .nav-list {
        display: none;
    }
    .btn-mobile-menu {
        padding-top: 24px;
        padding-bottom: 24px;
    }
 
    .dark-subtitle {
        text-align: center;
    }
.customers-list {
    display: flex;
    gap: 72px 16px;
    flex-wrap: wrap;
}
.team-item {
    margin-bottom: 72px;
}

.footer-container {
    flex-direction: column;
    gap: 72px;
    align-items: center;
    }
.footer-link {
    display: block;
    text-align: center;
}
.social-media {
   text-align: center;
}
.subtitle-footer {
    display: block;
}
.form-div {
    width: 100%;
    }

.mobile-menu {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    /* overflow-y: scroll; */
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    /* transform: translate(-50%, -50%) scale(1); */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity var(--duration-time-function), visibility var(--duration-time-function);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.mobile-container {
    padding: 80px 19px 40px 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}
.mobile-contact{
    margin-bottom: 48px;
}
.mobile-contact-icon {
    display: flex;
    justify-content: space-around;
}

.mobile-nav-list, .mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.mobile-nav-list {
    font-weight: 700;
}

.mobile-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.modal-contant {
    padding: 72px 16px 24px 16px;
}
.modal {width: calc(100% - 32px);
max-width: 392px;
}

}



@media (max-width: 767px) and (min-device-pixel-ratio: 2),
(max-width: 767px) and (min-resolution: 192dpi),
(max-width: 767px) and (min-resolution: 2dppx) {
    .hero-background {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/Dark-bg-mobike@2x.jpg); 
         ;
    }
}